altair==5.5.0
beautifulsoup4==4.13.3
blinker==1.9.0
branca==0.8.1
cffi==1.17.1
dash==2.18.2
dash-bootstrap-components==1.7.1
duckdb==1.2.1
folium==0.19.5
Flask==3.0.3
geopandas==1.0.1
gitpython==3.1.44
matplotlib==3.9.0
mysql-connector-python==9.3.0
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.2
openpyxl==3.1.5
plotly==6.0.0
psycopg2-binary==2.9.9
pyarrow==19.0.1
pydeck==0.9.1
pyproj==3.7.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.7
streamlit==1.44.1
tqdm==4.67.1
XlsxWriter==3.2.2